:root{
    --main:#d7d0c2;
    --sec:#703D57;
    --acc:#739aaf;

    --gradient:linear-gradient(-45deg, var(--acc) 0%, var(--main) 100% );
  }


    .js-cookie-consent{
    position: fixed;
    bottom:0px;
    height:fit-content;
    width:100%;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    background-color:var(--acc);
    border-color: #ffffff;
    border: solid 1px;
    color:white;
  }

  .page-link.active, .active > .page-link {
    z-index: 3;
    color: white;
    background-color: var(--acc);
    border-color: white ;
  }


  .page-link:focus, .page-link:hover  {
  color:black;
  border-color: var(--acc) !important;
}

.page-link{
  color:grey;
}

*{
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    letter-spacing: 0.3px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

  html{
    height:100%;
  }


  body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

  

 


  .dropdown-item:active,dropdown-item:before,select option:focus,select option:hover {
      background: var(--acc) !important;
      color:white  ;
  }


.title{
    font-family: 'Noto Serif', serif;
    letter-spacing: 3px;
}

.desc{
    font-family: 'Playfair Display', serif;

}


.nav-link{
    color:white;

}
.nav-link:hover , .nav-link:focus ,.nav-link:active {
    color:rgb(200, 200, 200);
}
.nav-item{
    width: 20%;
}
 .logo-nav{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 60px;
    width: 60px;
    object-fit: contain;
    object-position: center;
    transition: 1s;
    /* position: relative; */
}




#brand-name{
    position: absolute;

}


.nav-drop-item {
    width: fit-content;
}

.user-nav{
    display: flex;
    width: fit-content;
}


.gradient-color{
    background:var(--gradient) ;
}

.main-color{
    background-color: var(--main);
}

.sec-color{
    background-color: var(--secondary);
}

.acc-color{
    color:var(--acc) ;
}

.acc-bg{
    background-color: var(--acc);
}

.btn-custom{
    background-color:white;
    border-color: var(--secondary);
    border-width: 2px;
    color:var(--secondary);
    border-radius: 5px;
    padding: 5px;
}
/* .btn:hover{
    border-radius:5px;
    background-color: var(--main);
} */

.btn>p{
    transform: scale(1.1);
}



.logo{
    padding: 0px;
    margin:0px;
    border:0px;
    width:25vh;
}

.box-test{
    width: 100px;
    object-fit: scale-down;
}


#content-wrap {
    padding-bottom: 2.5rem;
    position: relative;
    min-height: 100vh;
  }



#logout{
    cursor: pointer;
}

.search-form{
    min-height: 100vh;
}


.link-home{
    text-decoration: none;
    color: black;
}

.link-home:hover{
    color:white;
}


.link-card{
    text-decoration: none;
    z-index: 5;
}

.img-home{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: unset;
}


.img-box{
    max-width:100%;
    max-height:100%;


}

.img-box-cart{
    width: 100%;
    height:300px;
    object-fit: contain;
    object-position: center;
}


.img-card{

    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    object-position: center;
}


.card-container {
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 0;

  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -2;
  }

  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }

  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    /* background: linear-gradient(-45deg, var(--acc) 0%, var(--main) 100% ); */
    background-color: var(--acc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    z-index:-2;

  }

   .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    /* background: linear-gradient(to right, var(--acc) 0%,var(--main) 50%, var(--main) 100% ); */
    background-color: var(--acc);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    /* pointer-events: none; */
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    transition: 0.5s;
    z-index: 2;

  }

  .card .content .heading {
    font-size: 28px;
    font-weight: 700;
  }

  .card:hover .content {
    transform: translateY(0);
    border: 3px var(--acc) solid;
  }

  .card:hover .front-content {
    transform: translateX(15%);
    opacity:0;
  }

  .card:hover .front-content p {
    opacity: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .box{
    border-radius: 5px;
    background-color: var(--acc);
    color: white;
  }


.nav-link{
    cursor: pointer;
}

.list{
    list-style: none;
    padding: 0;
    cursor: pointer;
}



#brand{
    position: relative;
    width: 100%;
}
#categories{
    position: relative;
    width: 100vw;
}


.test{
    width: 70vw;
}

.brand-text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:35px;
    left: 0px;
    opacity: 1.0
}

.brand-img{
    transition: 0.5s;
}

.opacity-brand{
    opacity: 0.1;
}

/* Keyframes */
  @keyframes opacity {
    0% {
        opacity: 100%;
    }
    100% {
        opacity:0%
    }
  }


  .cart-card{
    border:1px solid var(--acc);
    border-radius: 5px;

  }
  .cart-delete{
    background:none;
    height:20px;
    width: 20px;
    position: absolute;
    border: none;
    right:5px;
    top:5px;

  }



  .price-input{
    width: 100%;
    display: flex;
    margin: 10px 0 15px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: white;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: white;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: white;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }

  .field>span{
    font-size: medium;
    font-weight: bold;
    color: white;
  }

  .offcanvas-mobile{
    height:80vh !important;
  }

  /* Media Query */

@media screen and (min-width:780px){
        .dropdown-logo{
        width: 43vw;
        min-width: fit-content;
        justify-content: center;
        }


        .logo-nav{
        height: 70px;
        width: 70px;
        }
    }


    .accordion-button:not(.collapsed){
        background-color:var(--main);
        box-shadow: var(--main);
    }
    .accordion-button{
        background-color:var(--main);
        box-shadow: var(--main);
    }
    /* Pagination */

  .page-link.active{
    background-color: var(--acc) !important;
    }

  #supply{
    border-radius:100%;
    height:20px;
    width: 20px;
    border:2px solid white;
  }

  .price{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }






  /* Cartellino PREZZO */

  .card-price {
	display: inline-block;

    width: auto;
	height: 38px;

	background-color: var(--acc);
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;

	border-left: 1px solid var(--acc);

	margin-left: 19px;

	position: relative;

	color: white;
	font-weight: 300;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Triangolo  */
.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -18.6px;
	width: 0;
	height: 0;
	border-top: 19.5px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid var(--acc);
}

/* Cartellino prezzo */
.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
